<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<contextName>clink-monitor</contextName>
	<property name="contextName" value="dubbo-demo-provider" />
	<!-- 输出到控制台 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="com.tinet.cicc" />
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>